@media screen and (max-width: 480px)
{
	DIV.indexItemContainerBody IMG
	{
		display: none;
	}
	DIV.indexItemContainerBody
	{
		width: 100%;
	}
	.indexItemContainer
	{
		border: none !important;
		width: 100% !important;
		padding-bottom: 30px !important;
	}
	.indexItemContainer:first-child
	{
		margin-top: 30px;
	}
	.indexItemBottomBar
	{
		display: none !important;
	}
	DIV.indexItemContainerBodyText
	{
		width: 100%;
	}
	DIV.indexItemContainerBodyTextContainer
	{
		width: 95%;
	}
}
@media screen and (min-width: 481px) and (max-width: 767px)
{
	.indexItemContainer
	{
		padding: 0px;
		margin-bottom: 5px;
		margin-top: 5px;
		float: left;
		width: 100% !important;
		display: inline-block;
	}
	.itemIndexRow:last-child
	{
		margin-bottom: 10px;
	}
}
@media screen and (min-width: 768px)
{
	.indexItemContainer
	{
		margin-top: 5px;
		margin-bottom: 5px;
		display: flex !important;
		flex-direction: column;
	}
	.indexItemContainer:first-child
	{
		margin-right: 5px;
	}
	.itemIndexRow:first-child
	{
		margin-top: 100px;
	}
	.itemIndexRow:last-child
	{
		margin-bottom: 100px;
	}
	.itemIndexRow
	{
		display: flex;
		width: 100%;
		height: 100%;
	}
	.indexItemBottomBar
	{
		float: bottom;
		width: 100% !important;
		margin-top: auto !important;
	}
}
.indexItemContainer
{
	width: calc(50% - 20px);
	margin-right: 20px !important;
	display: inline-block;
	vertical-align: top;
	/*min-height: 110px;*/
	background: #FFFFFF;
	border: 1px solid #CCC;
	border-radius: 5px;
	position: relative;
	padding: 0;
	margin-bottom: 15px;
}
.indexItemContainerBodyText
{
	text-align: left;
	overflow: auto;
	float: right;
	margin-bottom: 10px;
}
.indexItemContainerBody
{
	padding: 0.01em 5px;
	min-height: 100px;
}
.indexItemContainerBody > STRONG
{
	display: block;
}
.indexItemContainerBody > IMG
{
	padding: 10px;
	float: left;
	display: inline-block;
	width: 100px !important;
}
.indexItemContainerBodyTextContainer
{
	overflow: hidden;
	width: calc(100% - 140px);
	padding-left: 10px;
	font-size: 15px;
}
.indexItemBottomBar
{
	background: #EEE;
	/*max-height: 40px;*/
	font-size: 12px;
	width: 100%;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	position: relative;
	z-index: 0;
	padding: 0px;
	margin: -1px;
	bottom: 0;
	display: block;
	margin-top: 10px;
	float: left;
}
.indexItemBottomBar UL
{
	list-style-type: none;
	display: inline-block;
	margin-bottom: 0px !important;
	padding-left: 10px;
}
.indexItemBottomBar UL LI
{
	padding: 0.01em 1px;
	margin: 0px;
	float: left;
	padding-right: 5px;
	padding-left: 5px;
}
.indexItemBottomBar UL LI:last-child
{
	border-right: none;
}
.indexItemList
{
	list-style-type: none;
	margin: 0 !important;
	padding: 0 !important;
	overflow: hidden;
	align-content: center;
	width: 100%;
}
.indexItemBottomBar UL LI DIV
{
	display: inline-block;
}
.api_data IMG
{
	max-width: 100%;
}
:target
{
	outline: 0px !important;
}
.api_nav P
{
	border-bottom: 1px solid lightgray;
	padding-bottom: 5px;
	padding-top: 5px;
	font-size: large;
	font-weight: bold;
	margin-bottom: 0px;
	margin-top: 20px;
}
.api_nav LI
{
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	font-size: smaller;
}
.api_data
{
	border-left: 1px solid lightgray;
	margin-left: -1px;
}
.api_nav
{
	border-right: 1px solid lightgray;
}
.api_data H2
{
	margin-bottom: 0px;
}
.apiname
{
	margin-top: 50px !important;
	margin-bottom: 40px !important;
	font-size: xx-large !important;
}
BLOCKQUOTE
{
	background-color: lightgray;
	width: 100%;
	margin: 0px;
}
CODE
{
	/*background: lightgray;*/
	font-style: italic;
	color: darkred;
	padding: 4px;
	padding-right: 8px;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
{
	.uikit-footer
	{
		border-top: 0px !important;
	}
	.ie_footer_hook
	{
		background-color: #313131;
		height: 130px;
		border-top: 6px solid #555;
		padding-top: 20px;
	}
}
.detail_pagination
{
	padding-top: 10px;
	margin-top: 100px;
	height: 100px;
	margin-bottom: 20px;
	background-color: #EEE;
	border-top: 1px solid lightgray;
}
.detail_pagination A
{
	text-decoration: none;
}
.detail_pagination .prev_detail_page
{
	float: left;
	padding: 20px;
	width: 35%;
}
.detail_pagination .next_detail_page
{
	float: right;
	padding: 20px;
	text-align: right;
	width: 35%;
}
.page_nav_label
{
	font-size: x-large;
	margin-top: -15px;
}
.page_nav_title
{
	font-size: smaller;
}
.next_detail_page .page_nav_label::after
{
	content: ' >';
	color: #5BCBE3;
	font-weight: bold;
	font-size: xx-large;
}
.prev_detail_page .page_nav_label::before
{
	content: '< ';
	color: #5BCBE3;
	font-weight: bold;
	font-size: xx-large;
}
.api_nav .current_page
{
	background: #313131;
	padding-left: 10px;
}
.api_nav .current_page A
{
	color: white !important;
}
.api_data TD
{
	padding: 0px !important;
	margin: 0px !important;
}
.api_data TR
{
	height: 20px;
}
.api_data H4
{
	background: #CCC;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
}
.tier
{
	padding-top: 50px;
	padding-bottom: 50px;
}
.tier:first-child
{
	padding-top: 100px;
}
.tier:last-child
{
	padding-bottom: 100px;
}
.intro__text EM
{
	font-size: larger;
	font-style: normal;
}
.intro__img IMG
{
	max-width: 90%;
}
