@media screen and (max-width: 480px)
{
	DIV.indexItemContainerBody IMG
	{
		display: none;
	}
	DIV.indexItemContainerBody
	{
		width: 100%;
	}
	.indexItemContainer
	{
		border: none !important;
		width: 100% !important;
		padding-bottom: 30px !important;
	}
	.indexItemContainer:first-child
	{
		margin-top: 30px;
	}
	.indexItemBottomBar
	{
		display: none !important;
	}
	DIV.indexItemContainerBodyText
	{
		width: 100%;
	}
	DIV.indexItemContainerBodyTextContainer
	{
		width: 95%;
	}
}
@media screen and (min-width: 481px) and (max-width: 767px)
{
	.indexItemContainer
	{
		padding: 0px;
		margin-bottom: 5px;
		margin-top: 5px;
		float: left;
		width: 100% !important;
		display: inline-block;
	}
	.itemIndexRow:last-child
	{
		margin-bottom: 10px;
	}
}
@media screen and (min-width: 768px)
{
	.indexItemContainer
	{
		margin-top: 5px;
		margin-bottom: 5px;
		display: flex !important;
		flex-direction: column;
	}
	.indexItemContainer:first-child
	{
		margin-right: 5px;
	}
	.itemIndexRow:first-child
	{
		margin-top: 20px;
	}
	.itemIndexRow:last-child
	{
		margin-bottom: 40px;
	}
	.itemIndexRow
	{
		display: flex;
		width: 100%;
		height: 100%;
	}
	.indexItemBottomBar
	{
		float: bottom;
		width: 100% !important;
		margin-top: auto !important;
	}
}
.indexItemContainer
{
	width: calc(50% - 20px);
	margin-right: 20px !important;
	display: inline-block;
	vertical-align: top;
	/*min-height: 110px;*/
	background: #FFFFFF;
	border: 1px solid #CCC;
	border-radius: 5px;
	position: relative;
	padding: 0;
	margin-bottom: 15px;
}
.indexItemContainerBodyText
{
	text-align: left;
	overflow: auto;
	float: right;
	margin-bottom: 10px;
	margin-top: 10px;
}
.indexItemContainerBody
{
	padding: 0.01em 5px;
	min-height: 100px;
}
.indexItemContainerBody > STRONG
{
	display: block;
}
.indexItemContainerBody > IMG
{
	padding: 10px;
	float: left;
	display: inline-block;
	width: 120px !important;
	margin-top: 0px !important;
}
.indexItemContainerBodyTextContainer
{
	overflow: hidden;
	width: calc(100% - 160px);
	padding-left: 10px;
	font-size: 15px;
}
.indexItemBottomBar
{
	background: #EEE;
	/*max-height: 40px;*/
	font-size: 12px;
	width: 100%;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	position: relative;
	z-index: 0;
	padding: 0px;
	margin: -1px;
	bottom: 0;
	display: block;
	margin-top: 10px;
	float: left;
}
.indexItemBottomBar UL
{
	list-style-type: none;
	display: inline-block;
	margin-bottom: 0px !important;
	padding-left: 10px;
}
.indexItemBottomBar UL LI
{
	padding: 0.01em 1px;
	margin: 0px;
	float: left;
	padding-right: 5px;
	padding-left: 5px;
}
.indexItemBottomBar UL LI:last-child
{
	border-right: none;
}
.indexItemList
{
	list-style-type: none;
	margin: 0 !important;
	padding: 0 !important;
	overflow: hidden;
	align-content: center;
	width: 100%;
}
.indexItemBottomBar UL LI DIV
{
	display: inline-block;
}
.api_data IMG
{
	max-width: 100%;
}
:target
{
	outline: 0px !important;
}
.api_nav P
{
	border-bottom: 1px solid lightgray;
	padding-bottom: 5px;
	padding-top: 5px;
	font-size: large;
	font-weight: bold;
	margin-bottom: 0px;
	margin-top: 20px;
}
.api_nav LI
{
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	font-size: smaller;
}
.api_data
{
	border-left: 1px solid lightgray;
	margin-left: -1px;
}
.api_nav
{
	border-right: 1px solid lightgray;
}
.api_data H2
{
	margin-bottom: 0px;
}
.apiname
{
	margin-top: 50px !important;
	margin-bottom: 40px !important;
	font-size: xx-large !important;
}
BLOCKQUOTE
{
	background-color: lightgray;
	width: 100%;
	margin: 0px;
}
CODE
{
	/*background: lightgray;*/
	font-style: italic;
	color: darkred;
	padding: 4px;
	padding-right: 8px;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
{
	.uikit-footer
	{
		border-top: 0px !important;
	}
	.ie_footer_hook
	{
		background-color: #313131;
		height: 130px;
		border-top: 6px solid #555;
		padding-top: 20px;
	}

    .ie_global_footer_hook
    {
        background: white !important;
        border-bottom: 200px solid rgb(49, 49, 49);
        padding-bottom: 0px;
        width:97.8%;
        margin-left:2%
    }

}
.detail_pagination
{
	padding-top: 10px;
	margin-top: 100px;
	height: 100px;
	margin-bottom: 20px;
	background-color: #EEE;
	border-top: 1px solid lightgray;
}
.detail_pagination A
{
	text-decoration: none;
}
.detail_pagination .prev_detail_page
{
	float: left;
	padding: 20px;
	width: 35%;
}
.detail_pagination .next_detail_page
{
	float: right;
	padding: 20px;
	text-align: right;
	width: 35%;
}
.page_nav_label
{
	font-size: x-large;
	margin-top: -15px;
}
.page_nav_title
{
	font-size: smaller;
}
.next_detail_page .page_nav_label::after
{
	content: ' >';
	color: #5BCBE3;
	font-weight: bold;
	font-size: xx-large;
}
.prev_detail_page .page_nav_label::before
{
	content: '< ';
	color: #5BCBE3;
	font-weight: bold;
	font-size: xx-large;
}
.api_nav .current_page
{
	background: #313131;
	padding-left: 10px;
}
.api_nav .current_page A
{
	color: white !important;
}
.api_data TD
{
	padding: 0px !important;
	margin: 0px !important;
}
.api_data TR
{
	height: 20px;
}
.api_data H4
{
	background: #CCC;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
}
.tier
{
	padding-top: 50px;
	padding-bottom: 50px;
}
.tier:first-child
{
	padding-top: 100px;
}
.tier:last-child
{
	padding-bottom: 100px;
}
.intro__text EM
{
	font-size: larger;
	font-style: normal;
}
.intro__img IMG
{
	max-width: 90%;
}
.last_edit
{
    font-style: italic;
    text-align: right;
    color: #666666;
    font-size: small;
}
/* developer hub styles */

@media screen and (max-width: 768px)
{
}
@media screen and (min-width: 768px)
{
	.section__head
	{
		padding-bottom: 0px !important;
	}
	.section__title
	{
		max-width: 300px;
		border-bottom: 2px solid black;
		vertical-align: bottom !important;
		height: 50px;
		padding-top: 50px !important;
	}
	.section__titleLink
	{
		text-decoration: none !important;
		color: black !important;
		vertical-align: top;
	}
	.section__titleLink > .section__title:after
	{
		content: '\00a0\00a0>';
		font-family: '"Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 18px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;';
	}
	.section__titleLink:hover
	{
		text-decoration: underline !important;
		color: #089194 !important;
	}
	.section__topiclist
	{
		margin-top: 0px;
	}
	.jumbo
	{
		padding-top: 40px;
		padding-bottom: 40px;
	}
}
.section__topiclist
{
	list-style: none;
	padding-left: 10px;
}
.section__topic:before
{
	content: '>';
	padding-right: 5px;
}
.section__head
{
	padding-bottom: 20px;
	padding-top: 20px;
}
.section__title
{
	margin-top: 20px;
}
.section__title__underline
{
	text-decoration: underline;
}
.section__subtext
.section__subtext
{
	margin-top: 0px !important;
    text-decoration: none !important;
}
/**/
.dashboardHeader
{
	padding-top: 20px;
	padding-bottom: 20px;
}
.dashboardHeader__title__logo
{
    height:100px !important;
}
.dashboardHeader__title
{
	width: 350px;
	float: left;
}
.dashboardHeader__body
{
	clear: both;
	padding-top: 18px;
	padding-bottom: 35px;
}
.dashboardHeader__overview
{
	font-weight: bold;
	padding-right: 10px;
}
.dashboardHeader__widgets
{
	float: right;
	padding-right: 20px;
}
.dashboardWidget__icon
{
	width: 25px;
	height: 25px;
	vertical-align: middle;
}
.dashboardWidget__count
{
	font-size: smaller;
	color: black;
	background: #61DAFF;
	font-weight: bold;
	/*+border-radius: 20px;*/
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	display: inline;
	padding: 4px 6px 4px 5px;
}
/**/
.popularItems
{
	/*border: 1px solid black;*/
}
.popularItems__head
{
	border-bottom: 1px solid black;
	font-weight: bold;
}
.popularItems__headTitle
{
	display: inline;
}
.popularItems__headMore
{
	float: right;
}
.popularItems__headMore:after
{
	content: '\00a0>';
}
.popularItem
{
	border-bottom: 1px solid black;
	padding: 10px;
}
.popularItem:last-child
{
	border-bottom: none;
}
.popularItem__title
{
	font-weight: bold;
}
.popularItem__title:after
{
	content: '\00a0>';
}
.popularItem__date
{
	font-style: italic;
	font-size: smaller;
}
/**/
.callToAction
{
	padding-top: 20px;
	padding-bottom: 50px;
}
/**/
.servicesList
{
	padding-top: 10px;
	padding-bottom: 10px;
}
.digitalService
{
	border: 1px solid black;
	padding-bottom: 30px;
	margin-bottom: 20px;
}

#conversations {
    margin-top: 25px;
}

#conversations input.toggle {
    position: absolute;
    left: -9999px;
}

#conversations div.conversation {
    display: none;
    overflow-wrap: break-word;
}

#conversations #toggle-issue:checked ~ ul div[data-labels ~= "issues"] {
    display: block;
}

#conversations #toggle-pull-request:checked ~ ul div[data-labels ~= "pulls"] {
    display: block;
}

#conversations #toggle-issue:checked ~ ul li.issue {
    background-color: #00698F;
    color: #FFF;
}

#conversations #toggle-pull-request:checked ~ ul li.pull-request {
    background-color: #00698F;
    color: #FFF;
}

.conversation {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: left;
    padding: 10px;
    margin-top: 14px;
    margin-bottom: 6px;
    min-height: 125px;
}

.conversation h5 {
    margin-top: 6px;
    margin-bottom: 4px;
}

.conversation p {
    margin: 0px;
}

ul.conversation-list {
    padding: 0px;
    list-style-type: none;
}

#conversations #toggle-issue ~ ul div.issue-active {
    display: none;
}

.conversation .conversation-content {
    padding: 10px;
}

#conversations #toggle-issue ~ ul div.issue-inactive {
    color: black;
    font-size: 1em;
    display: inline-block;
    text-align: center;
    width: 8px;
    margin-left: 8px;
    margin-bottom: 2px;
    margin-right: 4px;
}

#conversations #toggle-issue:checked ~ ul div.issue-active {
    color: #FFF;
    font-size: 1em;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    width: 8px;
    margin-left: 8px;
    margin-bottom: 2px;
    margin-right: 4px;
}

#conversations #toggle-issue:checked ~ ul div.issue-inactive {
    display: none;
}

#conversations #toggle-pull-request ~ ul div.pull-request-active {
    display: none;
}

#conversations #toggle-pull-request ~ ul div.pull-request-inactive {
    color: black;
    font-size: 1em;
    display: inline-block;
    text-align: center;
    width: 8px;
    margin-left: 8px;
    margin-bottom: 2px;
    margin-right: 4px;
}

#conversations #toggle-pull-request:checked ~ ul div.pull-request-active {
    color: #FFF;
    font-size: 1em;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    width: 8px;
    margin-left: 8px;
    margin-bottom: 2px;
    margin-right: 4px;
}

#conversations #toggle-pull-request:checked ~ ul div.pull-request-inactive {
    display: none;
}

#conversations .conversation .user-info {
    margin-left: 10px;
    border: 2px solid #f5f5f0;
    border-radius: 5%;
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
    min-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#conversations .conversation img {
    border-radius: 50%;
    height: 50px;
    min-height: 50px;
    max-height: 50px;
    width: 50px;
    min-width: 50px;
    max-width: 50px;
    margin-top: 4px;
}

#conversations .conversation .au-tags {
    text-align: right;
}

#conversations .conversation .au-tags li {
    white-space: nowrap;
}

.comment {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: left;
    padding: 10px;
    margin-top: 14px;
    margin-bottom: 6px;
    min-height: 125px;
}



