<!DOCTYPE html>
<html class="no-js" lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Definitions Catalogue</title>

    <div th:fragment="meta" th:remove="tag">
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    </div>


    <div th:fragment="favicon" th:remove="tag">
        <link rel="icon" type="image/png" href="/img/favicon-196x196.png" sizes="196x196" />
        <link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16" />
        <link rel="icon" type="image/png" href="/img/favicon-128.png" sizes="128x128" />
    </div>

    <div th:fragment="fonts" th:remove="tag">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet"/>
    </div>

    <div th:fragment="css" th:remove="tag">
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="/css/custom.css" />
        <link rel="stylesheet" href="/css/common.css" />
    </div>

    <div th:fragment="highlight" th:remove="tag">

        <!--[if IE 9]>
        <link rel="stylesheet" href="https://highlightjs.org/static/demo/styles/atom-one-light.css" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
        <![endif]-->
        <!--[if !IE]><!-->
        <link rel="stylesheet" href="https://highlightjs.org/static/demo/styles/atom-one-light.css" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
        <!--<![endif]-->

    </div>

    <div th:fragment="start_highlight" th:remove="tag">
        <!--[if IE 9]><script>hljs.initHighlightingOnLoad();</script><![endif]-->
        <!--[if !IE]><!--><script>hljs.initHighlightingOnLoad();</script><!--<![endif]-->
    </div>

</head>

<body class="uikit-body uikit-grid">


<div th:fragment="landing_head" th:remove="tag">
    <section th:fragment="dss_stage_note" class="phase-banner">
        <div class="wrapper uikit-grid container container-fluid">
            This is an <a href="https://www.dta.gov.au/standard/service-design-and-delivery-process/" class="dss_stage_link">alpha</a>. If you find something wrong, <a href="https://github.com/ausdto/ausgovau/issues/new" class="dss_stage_link">let us know</a>
        </div>
    </section>
    <a href="/">
        <header class="uikit-header hero_header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h1 class="uikit-header-heading landing_heroline">
                            <img class="hero_logo" src="/img/hero_logo.png" style="width:20vw" alt="Digital Exchange Australia logo"/>
                            api.gov.au
                            <span class="badge">ALPHA</span>
                        </h1>
                        <span class="uikit-header-subline">Building government services into your product.</span>
                    </div>
                </div>
            </div>
        </header>
    </a>
</div>


<div th:fragment="main_head" th:remove="tag">
  <section th:replace="fragments/layout :: dss_stage_note"/>
    <a href="/">
      <header class="uikit-header main_header">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <h1 class="uikit-header-heading heroline">
                  api.gov.au
                  <img class="hero_logo" src="/img/hero_logo.png" style="width: 20vw" alt="Digital Exchange Australia logo"/>
                <span class="badge">ALPHA</span>
              </h1>
              <span class="uikit-header-subline">Building government services into your product.</span>
            </div>
          </div>
        </div>
      </header>
    </a>
</div>


<div th:fragment="footer" th:remove="tag">
    <div class="feedback">
        <p id="feedbackMessage">Was this page helpful to you?</p>
        <a onclick="feedback(this, 1)" id="plus1"><img src="/img/ThumbUp.svg" alt="Rate this page as good"/></a>
        <a onclick="feedback(this, -1)" id="minus1"><img src="/img/ThumbDown.svg" alt="Rate this page as bad"/></a>
        <p id="feedbackCount"/>
    </div>
    <script src="/js/feedback.js"/>
    <footer class="uikit-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-2 ie_footer_hook">
                    <img class="uikit-responsive-media-img" src="/img/coat-of-arms.png" alt="Commonwealth Coat of Arms crest logo" />
                </div>
                <div class="col-sm-2 ie_footer_hook">
                    <img class="uikit-responsive-media-img sbr_footer_logo" src="/img/sbr.png" alt="Standard Business Reporting logo" />
                </div>
                <div class="col-sm-8 ie_footer_hook footer-phrase">This site is part of the Standard Business Reporting program.<br />Visit <a style="font-weight: bold;" href="https://sbr.gov.au/">sbr.gov.au</a> to find out more.</div>
            </div>
        </div>
    </footer>
</div>


                <div th:fragment="indexItemContainer(service)" class="indexItemContainer">
                    <div class="indexItemContainerBody">
                        <strong><a th:attr="href='/service/' + *{__${service}__.path}" th:text="*{__${service}__.name}"/></strong>
                        <img th:src="*{__${service}__.logoURI}" alt="API Logo"/>
                        <div class="indexItemContainerBodyTextContainer"><div class="indexItemContainerBodyText" th:text="*{__${service}__.definition}"/></div>
                    </div>
                    <div class="indexItemBottomBar">
                        <ul>
                            <li th:if='*{__${service}__.domain != ""}'>
                                <img src="/img/iconCat25.png" style="width:10px;height:10px;display:inline-block;" alt="Category"/>
                                <div th:text="' '+*{__${service}__.domain}"/>
                            </li>
                            <li th:if='*{__${service}__.status != ""}'>
                                <img src="/img/iconStatus25.png" style="width:10px;height:10px;display:inline-block;" alt="Status"/>
                                <div th:text="' '+*{__${service}__.status}"/>
                            </li>
                            <li th:if='*{__${service}__.agency != ""}'>
                                <img src="/img/iconAgency25.png" style="width:10px;height:10px;display:inline-block;" alt="Agency"/>
                                <div th:text="' '+*{__${service}__.agency}"/>
                            </li>
                            <li th:if='*{__${service}__.security!= ""}'>
                                <img src="/img/iconSecurity25.png" style="width:10px;height:10px;display:inline-block;" alt="Security"/>
                                <div th:text="' '+*{__${service}__.security}"/>
                            </li>
                            <li th:if='*{__${service}__.technology!= ""}'>
                                <img src="/img/iconTech25.png" style="width:10px;height:10px;display:inline-block;" alt="Technology"/>
                                <div th:text="' '+*{__${service}__.technology}"/>
                            </li>
                            <li th:if='*{__${service}__.openAPISpec!= ""}'>
                                <img src="/img/iconDoco25.png" style="width:10px;height:10px;display:inline-block;" alt="Interactive documentation"/>
                                <div th:text="' '+*{__${service}__.openAPISpec}"/>
                            </li>
                            <div th:remove="tag" th:if="${not #lists.isEmpty(__${service}__.tags)}">
                            <li><img src="/img/iconTags25.png" style="width:10px;height:10px;display:inline-block;" alt="Tags"/></li>
                            <li th:if="${not #lists.isEmpty(__${service}__.tags)}" th:each="tag : *{__${service}__.tags}" th:text="' #'+${tag}"/>
                            </div>
                        </ul>
                    </div>
                </div>

</body>
</html>
