#editor {
  display: inline-block;
  width: calc(100% - 270px);
  height: 50px;
}
#authoring {
  width: 100%;
  height: 50px;
  position: absolute;
  left: 0px;
}
#editor .CodeMirror {
  height: calc(100vh - 50px - 25px);
}
/*#editor .editor-toolbar
{
	height: 50px;
}*/
#page-selection {
  width: 150px;
  display: inline-block;
  height: 100vh;
  vertical-align: top;
}
/*#editor-preview
{
	display: inline-block;
	width: calc(100vw - 150px - 10px);
}*/
/*#preview
{
	(*display: inline-block;*)
	(*width: 64%;*)
	(*vertical-align: top;*)
}*/
BODY {
  margin: 0px;
}
.CodeMirror-fullscreen {
  /*background: #2F2F41 !important;*/
  position: fixed !important;
  top: 100px;
  left: 150px;
  width: calc(100% - 150px - 51% - 10px) !important;
  right: 0;
  bottom: 0;
  height: auto;
  z-index: 9;
  border-left: 0;
  border-right: 0;
  font-family: 'open sans';
  font-size: smaller;
}
.editor-toolbar.fullscreen {
  width: 100%;
  height: 50px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
  background: #FFF;
  border: 0;
  position: fixed;
  top: 50px;
  left: 150px;
  opacity: 1;
  z-index: 9;
  border-top: 1px solid #DDD;
  border-left: 1px solid #DDD;
}
.editor-preview-side {
  background: white;
}
.editor-preview-side IMG {
  width: 100%;
}
#page-selection LI {
  list-style: none;
  border: 1px solid #DDD;
  padding: 5px;
  cursor: move;
  margin: 0px !important;
}
#page-selection .nav_wrapper {
  width: calc(100% - 22px);
  display: inline-block;
}
#page-selection LI.current-page {
  background: #25655A;
  color: white;
}
#page-selection UL {
  padding: 0px !important;
  list-style-type: none !important;
  max-height: 100%;
  overflow-y: scroll;
}
#page-selection UL .nav {
  margin: 0px;
  overflow: hidden;
}
#page-selection .nav LI {
  border: 0px;
  font-size: smaller;
  padding: 0px;
  text-indent: -10px;
  position: relative;
  left: 15px;
}
#page-selection .nav LI:before {
  content: '- ';
}
#pages {
  position: relative;
  top: 50px;
  height: calc(100vh - 50px);
  border-right: 1px solid #DDD;
}
#pages H3 {
  margin: 0px;
}
#pages H4 {
  margin: 0px;
}
.current-page .js-remove {
  cursor: pointer;
  color: white;
  background: red;
  width: 22px;
  height: 22px;
  text-align: center;
  display: inline-block;
  /*float: right;*/
  vertical-align: top !important;
  margin: 0px;
}
.js-remove {
  display: none;
}
