<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="fragments/layout :: meta" />
  <title>api.gov.au</title>
  <div th:replace="fragments/layout :: favicon"/>
  <div th:replace="fragments/layout :: css"/>
</head>
<body class="au-body au-grid">

<div th:replace="fragments/layout :: header(landing = false, current = 'apis')"/>


<main class="container">
    <div>
        <div class="itemIndexRow"  th:each="index: ${#numbers.sequence(0, #lists.size(services)-1, 2)}">
            <div th:replace="fragments/layout :: indexItemContainer(services[index])"/>
            <div th:remove="tag" th:if="${index + 1 &lt; #lists.size(services)-1}">
                    <div th:replace="fragments/layout :: indexItemContainer(services[__${index + 1}__])"/>
            </div>
        </div>
    </div>
</main>


<div th:replace="fragments/layout :: footer"/>
</body>
</html>
