<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/layout :: meta"/>
    <title>api.gov.au</title>
    <meta content="Making it easier to discover and implement APIs offered by the Australian state, territory and federal government."
          name="description"/>
    <div th:replace="fragments/layout :: favicon"/>
    <div th:replace="fragments/layout :: css"/>
</head>
<body class="au-body au-grid">
<section class="phase-banner">
    <div class="wrapper au-grid container container-fluid">
        This is an <a class="dss_stage_link"
                      href="https://www.dta.gov.au/standard/service-design-and-delivery-process/">beta</a>. If you find something wrong, <a
            class="dss_stage_link" href="https://github.com/apigovau/api-gov-au-definitions/issues/new">let us know</a>
    </div>
</section>
<div th:replace="fragments/layout :: header(landing = false, current = 'about')"/>


<main class="container">
    <div class="tier tier--even">

        <section class="highlighted-section au-body">
            <div class="container-fluid">


                <nav aria-label="breadcrumb" class="au-breadcrumbs">
                    <ul class="au-link-list au-link-list--inline">
                        <li><a href="/">Home</a></li>
                        <li>Articles</li>
                    </ul>
                </nav>


                <div class="col-lg-8">
                    <div class="popularItems">
                        <div class="popularItem" th:each="article: ${articles}">
                            <a th:attr="href=${'/article/' + article.metadata.id}">
                                <div class="popularItem__title working" th:text="${article.title}"/>
                            </a>
                            <div class="popularItem__date" th:text="${article.date}"/>
                            <div class="popularItem__summary" th:text="${article.summary}"/>
                        </div>
                    </div>
                </div>


            </div>
        </section>


    </div>
</main>
<div th:replace="fragments/layout :: footer"/>
</body>
</html>
