<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/layout :: meta"/>
    <title>api.gov.au</title>
    <meta content="Making it easier to discover and implement APIs offered by the Australian state, territory and federal government."
          name="description"/>
    <div th:replace="fragments/layout :: favicon"/>
    <div th:replace="fragments/layout :: css"/>
</head>
<body class="au-body au-grid">
<section class="phase-banner">
    <div class="wrapper au-grid container container-fluid">
        This is an <a class="dss_stage_link"
                      href="https://www.dta.gov.au/standard/service-design-and-delivery-process/">beta</a>. If you find something wrong, <a
            class="dss_stage_link" href="https://github.com/apigovau/api-gov-au-definitions/issues/new">let us know</a>
    </div>
</section>
<div th:replace="fragments/layout :: header(landing = false, current = 'about')"/>


<main class="container">
    <div class="tier tier--even">

        <section class="highlighted-section au-body">
            <div class="container-fluid">

                <nav aria-label="breadcrumb" class="au-breadcrumbs">
                    <ul class="au-link-list au-link-list--inline">
                        <li><a href="/">Home</a></li>
                        <li><a href="/articles/">Articles</a></li>
                        <li th:text="${article.title}"/>
                    </ul>
                </nav>


                <div class="row dashboardHeader">
                    <h2 th:text="${article.title}"/>
                    <div class="popularItem__date" th:text="${article.date}"/>
                    <!--div class="dashboardHeader__widgets">
                        <div class="dashboardWidget">
                            <img class="dashboardWidget__icon" src="/img/conversations.svg"/>
                            <div class="dashboardWidget__count">0</div>
                        </div>
                    </div-->
                    <div class="dashboardHeader__body">
                        <span class="dashboardHeader__overview">Summary:</span><span th:text="${article.summary}"/>
                    </div>
                    <div th:remove="tag" th:utext="${content}"/>
                </div>
            </div>
        </section>
    </div>
</main>
<div th:replace="fragments/layout :: footer"/>
</body>
</html>
