<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="fragments/layout :: meta" />
  <title>Service Catalogue</title>
  <div th:replace="fragments/layout :: favicon"/>
  <div th:replace="fragments/layout :: css"/>
  <div th:replace="fragments/layout :: highlight"/>
</head>
<body class="uikit-body uikit-grid">

<div th:replace="fragments/layout :: main_head"/>

<main class="container row">
    <div class="col-sm-3 api_nav">
        <div th:each="page : ${model.subpages}" th:remove="tag">
        <p th:if="${currentPage} == ${page.title}" class="current_page" ><a th:attr="href='/service/' + ${model.id} + '/' + ${page.title} + '#' + ${page.title} " th:text="${page.title}" /></p>
        <p th:if="${currentPage} != ${page.title}"><a th:attr="href='/service/' + ${model.id} + '/' + ${page.title} + '#' + ${page.title} " th:text="${page.title}" /></p>
            <ul th:each="subpage : ${page.subpages}" class="uikit-link-list">
                <li><a th:attr="href='/service/' + ${model.id} + '/' + ${page.title} + '#' + ${subpage.title}" th:text="${subpage.title}"/></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-8 api_data">

        <div th:remove="tag" th:utext="${content}" />

        <div th:if="${nextPage} or ${prevPage}" class="detail_pagination">
            <div th:if="${nextPage}" class="next_detail_page">
                <a th:attr="href='/service/' + ${model.id} + '/' + ${nextPage}">
                    <div class="page_nav_label">Next</div>
                    <div class="page_nav_title"><div th:text="${nextPage}"/></div>
                </a>
            </div>
        <div th:if="${prevPage}" class="prev_detail_page">
            <a th:attr="href='/service/' + ${model.id} + '/' + ${prevPage}">
                <div class="page_nav_label">Back</div>
                <div class="page_nav_title"><div th:text="${prevPage}"/></div>
            </a>
        </div>
        </div>
    </div>
</main>


<div th:replace="fragments/layout :: footer"/>
<div th:replace="fragments/layout :: start_highlight"/>
</body>
</html>
