<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/layout :: meta"/>
    <title>Definitions Catalogue</title>
    <div th:replace="fragments/layout :: favicon"/>
    <div th:replace="fragments/layout :: css"/>
</head>
<body class="au-body au-grid">

<div th:replace="fragments/layout :: header(landing=false, current='about')"/>


<main class="">


    <article role="main" id="content" class="content-main">


        <div class="error-page">

            <header class="page-heading-smaller">
                <h1>Page not found</h1>
            </header>
            <p>
                Check you've entered the correct web address.
            </p>

        </div>


    </article>

</main>


<p th:text="${message}">Exception message</p>

<div th:replace="fragments/layout :: footer"/>

</body>
</html>
