<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="fragments/layout :: meta" />
  <title>Services Catalogue</title>
  <div th:replace="fragments/layout :: favicon"/>
  <div th:replace="fragments/layout :: css"/>
</head>
<body class="uikit-body uikit-grid">

<div th:replace="fragments/layout :: landing_head"/>


<main class="container">
    <table>
        <thead>
        <tr>
            <th class="table_name">Name</th>
            <th class="table_definition">Definition</th>
            <th class="table_domain">Category</th>
            <th class="table_status">Status</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="service : ${services}">
            <td class="table_name"><strong><a th:attr="href='/service/' + ${service.path}" th:text="${service.name}"/></strong></td>
            <td class="table_definition" th:text="${service.definition}"/>
            <td class="table_domain" th:text="${service.domain}"/>
            <td class="table_status" th:text="${service.status}"/>
        </tr>


        </tbody>
    </table>

</main>


<div th:replace="fragments/layout :: footer"/>
</body>
</html>
