<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="fragments/layout :: meta" />
  <title>Services Catalogue</title>
  <div th:replace="fragments/layout :: favicon"/>
  <div th:replace="fragments/layout :: css"/>
</head>
<body class="uikit-body uikit-grid">

<div th:replace="fragments/layout :: landing_head"/>


<main class="container">
    <div>
        <ul class="indexItemList">
            <li th:each="service : ${services}">
                <div class="indexItemContainer">
                    <div class="indexItemContainerBody">
                        <strong><a th:attr="href='/service/' + ${service.path}" th:text="${service.name}"/></strong>
                        <ul>
                            <li>
                                <img th:src="${service.logoURI}" style="width:100px;height:75px;" alt="API Logo"/>
                            </li>
                            <li>
                                <div class="indexItemContainerBodyTextContainer"><div class="indexItemContainerBodyText" th:text="${service.definition}"/></div>
                            </li>
                        </ul>
                    </div>

                    <div class="indexItemBottomBar">
                        <ul>
                            <li>
                                <img src="/img/iconCat25.png" style="width:10px;height:10px;display:inline-block;" alt="Category"/>
                                <div style="display:inline-block;" th:text="' '+${service.domain} +' |'"/>
                            </li>
                            <li>
                                <img src="/img/iconStatus25.png" style="width:10px;height:10px;display:inline-block;" alt="Status"/>
                                <div style="display:inline-block;" th:text="' '+${service.status} +' |'"/>
                            </li>
                            <li>
                                <img src="/img/iconAgency25.png" style="width:10px;height:10px;display:inline-block;" alt="Agency"/>
                                <div style="display:inline-block;" th:text="' '+${service.agency} +' |'"/>
                            </li>
                            <li>
                                <img src="/img/iconSecurity25.png" style="width:10px;height:10px;display:inline-block;" alt="Security"/>
                                <div style="display:inline-block;" th:text="' '+${service.security} +' |'"/>
                            </li>
                            <li>
                                <img src="/img/iconTech25.png" style="width:10px;height:10px;display:inline-block;" alt="Technology"/>
                                <div style="display:inline-block;" th:text="' '+${service.technology} +' |'"/>
                            </li>
                            <li>
                                <img src="/img/iconDoco25.png" style="width:10px;height:10px;display:inline-block;" alt="Interactive documentation"/>
                                <div style="display:inline-block;" th:text="' '+${service.openAPISpec} +' |'"/>
                            </li>
                            <li><img src="/img/iconTags25.png" style="width:10px;height:10px;display:inline-block;" alt="Tags"/></li>
                            <li th:each="tag : ${service.tags}" th:text="' #'+${tag}"/>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</main>


<div th:replace="fragments/layout :: footer"/>
</body>
</html>
