<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="fragments/layout :: meta" />
  <title>Services Catalogue</title>
  <div th:replace="fragments/layout :: favicon"/>
  <div th:replace="fragments/layout :: css"/>
</head>
<body class="uikit-body uikit-grid">

<div th:replace="fragments/layout :: landing_head"/>


<main class="container">
    <div>
        <ul class="indexItemList">
            <li th:each="service : ${services}">
                <div class="indexItemContainer">
                    <div class="indexItemContainerBody">
                        <strong><a th:attr="href='/service/' + ${service.path}" th:text="${service.name}"/></strong>
                        <ul>
                            <li>
                                <img src="/img/NoLogo.png" style="width:75px;height:75px;" alt="API Logo"/>
                            </li>
                            <li>
                                <div class="indexItemContainerBodyTextContainer"><div class="indexItemContainerBodyText" th:text="${service.definition}"/></div>
                            </li>
                        </ul>
                    </div>

                    <div class="indexItemBottomBar">
                        <ul>
                            <li th:text="${service.domain}" />
                            <li> | </li>
                            <li th:text="${service.status}" />
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</main>


<div th:replace="fragments/layout :: footer"/>
</body>
</html>
