<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="fragments/layout :: meta" />
  <title>api.gov.au</title>
  <meta name="description" content="Making it easier to discover and implement APIs offered by the Australian state, territory and federal government."/>
  <div th:replace="fragments/layout :: favicon"/>
  <div th:replace="fragments/layout :: css"/>
</head>
<body class="au-body au-grid">

<div th:replace="fragments/layout :: header(landing = true, current = 'home')"/>


<main class="container">

<div class="tier tier--even">
  <a class="au-direction-link au-direction-link--right" href="/firehose">I'd rather browse the full list of APIs</a>

            <section class="highlighted-section au-body">
                <div class="container-fluid">

                <h3 class="section__head">Browse by agency</h3>

                    <div class="row">
                        <div class="col-sm-4">
                            <a class="section__titleLink" href="/space/ato"><h4 class="section__title working">Australian Taxation Office</h4></a>
                            <ul class="section__topiclist">
                                <li class="section__topic working"><a href="/space/stp">Single Touch Payroll</a></li>
                                <li class="section__topic working"><a href="/space/tr">Tax Returns</a></li>
                                <li class="section__topic"><a href="#">Superannuation</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <a class="section__titleLink" href="/space/dhs"><h4 class="section__title working">Department Of Human Services</h4></a>
                            <ul class="section__topiclist">
                                <li class="section__topic"><a href="#">Welfare</a></li>
                                <li class="section__topic"><a href="#">Aged Care</a></li>
                                <li class="section__topic"><a href="#">Medicare</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <a class="section__titleLink" href="#"><h4 class="section__title">Australian Prudential Regulation Authority</h4></a>
                            <ul class="section__topiclist">
                                <li class="section__topic"><a href="#">Superannuation</a></li>
                                <li class="section__topic"><a href="#">Banking</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <a class="section__titleLink" href="#"><h4 class="section__title">NSW Revenue</h4></a>
                            <ul class="section__topiclist">
                                <li class="section__topic"><a href="#">Payroll Tax</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <a class="section__titleLink" href="#"><h4 class="section__title">Australian Securities and Investments Commission</h4></a>
                            <ul class="section__topiclist">
                                <li class="section__topic"><a href="#">Comapny Registration</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <a class="section__titleLink" href="#"><h4 class="section__title">IP Australia</h4></a>
                            <ul class="section__topiclist">
                                <li class="section__topic"><a href="#">Trademarks</a></li>
                                <li class="section__topic"><a href="#">Patents</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </section>





            <section class="highlighted-section au-body au-body--alt">
                <div class="container-fluid">
                <h3 class="section__head">Not looking for APIs?</h3>
                    <div class="row">
                        <div class="col-sm-4">
                            <h4 class="section__title">I'm not a developer</h4>
                            <ul class="section__topiclist">
                                <li class="section__topic"><a href="#">Become a developer</a></li>
                                <li class="section__topic"><a href="#">Looking for software</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <h4 class="section__title">I work in Government</h4>
                            <ul class="section__topiclist">
                                <li class="section__topic"><a href="#">About Developer Hub</a></li>
                                <li class="section__topic"><a href="#">Get involved</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <h4 class="section__title">I need help</h4>
                            <ul class="section__topiclist">
                                <li class="section__topic"><a href="#">Online Services for DSPs</a></li>
                                <li class="section__topic"><a href="#">Community help forum</a></li>
                            </ul>
                        </div>
                    </div>  
                </div>
            </section>




        </div>
        </main>
        <div th:replace="fragments/layout :: footer"/>
    </body>
</html>
