<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="fragments/layout :: meta" />
  <title>api.gov.au</title>
  <div th:replace="fragments/layout :: favicon"/>
  <div th:replace="fragments/layout :: css"/>
</head>
<body class="au-body au-grid">

<div th:replace="fragments/layout :: header(landing = false, current = 'roadmap')"/>


<main class="container">

<div class="tier tier--even">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>Roadmap</h1>
                <div class="intro">
                    <div class="row">
                        <div class="col-sm-12">
                            <p>This roadmap shows what the API.GOV.AU team is planning to work on over the next 12 months. This roadmap is open to change and we welcome <a href="/community">your input</a>.</p>
                            <p/>
                            <div class="intro__img"><img class="au-responsive-media-img" src="/img/roadmap.svg" alt="Roadmap of api.gov.au. Text overview below"/></div>
                            <div class="content">
                                <h2>Now</h2>
                                <p>Things we are currently working on:</p>
                                <ul>
                                    <li>Reusing the data definitions of others: Enable producers to search and link to data definitions used by other agencies on their APIs.</li>
                                    <li>Contemporary API documentation: Offer rich and interactive forms of documenting APIs, including syntax highlighting, generated diagrams and interactivity</li>
                                    <li>+1 / -1 Feedback: Allowing consumers to indicate if they've found a page helpful, and to show the aggregate rating.</li>
                                    <li>Protect sensitive information: Enable G2G API authors to hide sensitive information about their APIs from unauthorised users, such as URLs</li>
                                </ul>
                                <h2>Next</h2>
                                <p>Things we will be working on in the future:</p>
                                <ul>
                                    <li>Include DTA's Notify and Tell-Us-Once: Offer the first G2G apis on the platform.</li>
                                    <li>Self service content authoring: Allow content owners to create, edit and publish without assistance from the API.GOV.AU team</li>
                                    <li>Seed the platform with ABN Lookup: ABN Lookup is a very large and popular service, which will help grow awareness of the platform to existing government API consumers.</li>
                                    <li>Onboard more agencies: Attract more agencies, and then their consumers</li>
                                </ul>
                                <h2>Now</h2>
                                <p>Things we might be working on in the long term:</p>
                                <ul>
                                    <li>Detailed feedback loops: Enable consumers to provide detailed feedback, which will be incorporated into the WofG API playbook.</li>
                                    <li>Reusable API Key Management: Allow consumers to register for a single API key that can be used for multiple government APIs with similar security and privacy requirements.</li>
                                    <li>Ongoing DTA Guest Blog Posts: Build awareness of the platform, and it's evolution from SBR.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</main>


<div th:replace="fragments/layout :: footer"/>
</body>
</html>
