<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/layout :: meta"/>
    <title>Definitions Catalogue</title>
    <div th:replace="fragments/layout :: favicon"/>
    <div th:replace="fragments/layout :: css"/>
</head>
<body class="au-body au-grid">


<div th:replace="fragments/layout :: header(landing=false, current='definitions')"/>


<main class="container">

    <h1>Data Definitions</h1>
    <p>The definitions catalogue lists the metadata and descriptions of the data that government use on their APIs.</p>
    <p>By reusing the definitions it's easier for government agencies to share data. It also makes it easier for government to ask for data consistently when it needs to be collected.</p>

    <br/>
    <form action="#" method="get" th:action="@{/definitions}" th:object="${search}">
        <input class="au-text-input main_search_bar" id="query" name="query" th:if="${showResults} != null" th:value="${queryString}"
               type="text"/>
        <input class="au-text-input main_search_bar" placeholder="what are you looking for?" th:field="*{query}" th:if="${showResults} == null"
               type="text"/>
        <input class="au-btn main_search_button" type="submit" value="Search"/>
        <label class="filterBox au-btn" for="_1">Filters</label>
        <input id="_1" type="checkbox"/>
        <div class="filterContent">
            <br/>
            <ul class="filtercontentList">
                <li>
                        <span>
                            <strong class="filterContentListNormal">Domains to search:</strong>
                            <ul class="filterContentListNormal">
                                <li> <input name="domain" th:text="All" type="checkbox" value=""/></li>
                                <li th:each="domain : ${domains}"> <label><input name="domain" th:checked="${#lists.contains(filter.Domains, domain)} ? 'checked'"
                                                                                 th:text="${domain.name}"
                                                                                 th:value="${domain.acronym}"
                                                                                 type="checkbox"/></label></li>
                            </ul>
                        </span>
                </li>
                <li>
                    <span>
                        <label> <input name="IgnoreSynonym" th:checked="${filter.IgnoreSynonym} ? 'checked'" type="checkbox"
                                       value="1"/>
                        <strong class="filterContentListNormal">Ignore synonyms</strong></label>
                    </span>
                </li>
            </ul>
        </div>
        <div>
            <ul class="filterTagList">
                <li th:each="domain : ${filter.Domains}"><a style="" th:text="${domain.name}"/><label><input
                        name="removeTag" th:value="${domain.acronym}" type="submit"/><span>&nbsp;x</span></label></li>
                <li th:if="${filter.IgnoreSynonym}"><a style="text-decoration:none;">Ignore synonyms</a><label><input
                        name="removeTag" type="submit" value="ignoreS"/><span>&nbsp;x</span></label></li>
            </ul>
        </div>
    </form>

    <ul class="quick_domain_list">
        <li>Browse:</li>
        <li><a th:href="@{/definitions/browse/}">All</a></li>
        <li th:each="domain : ${domains}"><a th:attr="href='/definitions/browse/' + ${domain.acronym}"
                                             th:text="${domain.name}"/>
        </li>
    </ul>


    <div class="search_help" th:if="${showResults} == null">
        <a th:href="@{/definitions/help}">Help with search</a>
    </div>


    <div th:if="${showResults} != null" th:remove="tag">
        <div class="used_synonyms" th:if="${not #maps.isEmpty(usedSynonyms)}">
            <p>These <a th:href="@{/definitions/synonyms}">synonyms</a> were included in the search:</p>
            <div th:each="synonym : ${usedSynonyms}" th:remove="tag">
                <strong th:text="${synonym.key}"/><span th:text="': ' + ${synonym.value}"/><br/>
                <!--dd th:each="synonymWord : ${synonym.value}" th:text="${synonymWord}"/-->
            </div>
        </div>
        <p th:text="${totalResults} + ' results for ' + ${queryString}"/>
        <div th:if="${spellCheck} != ''">
            <span th:text="' Did you mean: '"/>
            <strong><a th:attr="href='/definitions/?query=' + ${spellCheck}"><span
                    th:text="${spellCheck}"/></a></strong>
        </div>
        <table>
            <thead>
            <tr>
                <th class="table_name">Name</th>
                <th class="table_definition">Definition</th>
                <th class="table_domain">Domain</th>
                <th class="table_status">Status</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="defn : ${definitions}">
                <td class="table_name"><strong><a th:attr="href=@{'/definitions/definition/' +  ${defn.identifier}}"
                                                  th:text="${defn.name}"/></strong></td>
                <td class="table_definition" th:text="${defn.definition}"/>
                <td class="table_domain" th:text="${defn.domain}"/>
                <td class="table_status" th:text="${defn.status}"/>
            </tr>


            </tbody>
        </table>


        <div th:if="${lastPageNumber} > 0" th:remove="tag">
            <div class="page_number">
                Page <strong th:text="${pageNumber}"/> of <strong th:text="${lastPageNumber}"/>
            </div>
        </div>
        <div th:if="${lastPageNumber} == 0" th:remove="tag">
            <div class="page_number">
                No results to display
            </div>
        </div>
        <div>
            <ul class="pagination_controls">
                <li th:if="${prevPage} != null"><a class="next_page" th:attr="href=${prevPage}">&lt;Previous</a></li>

                <li th:if="${firstPage} != null"><a th:attr="href=${firstPage}">1</a></li>
                <li class="more_pages" th:if="${firstPage} != null"><span>...</span></li>

                <li th:if="${leftPage} != null"><a th:attr="href=${leftPage}" th:text="${leftPageNumber}"/></li>

                <li class="current_page"><a th:attr="href=${pageURL}" th:text="${pageNumber}"/></li>

                <li th:if="${rightPage} != null"><a th:attr="href=${rightPage}" th:text="${rightPageNumber}"/></li>

                <li class="more_pages" th:if="${lastPage} != null"><span>...</span></li>
                <li th:if="${lastPage} != null"><a th:attr="href=${lastPage}" th:text="${lastPageNumber}"/></li>


                <li th:if="${nextPage} != null"><a class="next_page" th:attr="href=${nextPage}">Next&gt;</a></li>
            </ul>
        </div>

    </div>

</main>


<div th:replace="fragments/layout :: footer"/>

</body>
</html>
